/* body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
} */

.container {
    padding: 3rem;
}

.course-card {
    position: relative;
    width: 440px;
    background-color: #d4d4d8;
    border-radius: 0.5rem;
}

.course-image {
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 440px;
}


.three-dots {
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 0.25rem;
}

.course-content {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
}

.course-header {
    padding-bottom: 1rem;
}

.course-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.course-educator {
    color: #737373;
}

.course-description {
    word-wrap: break-word;
}

.course-rating {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    padding-top: 0.75rem;
}

.stars {
    display: flex;
    gap: 0.125rem;
}

.reviews {
    color: #525252;
}

.course-price {
    font-weight: bold;
    padding-top: 1rem;
}