
.quizz-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quizz-page {
  width: 650px;
  min-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quizz-navbar
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #2196f3;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.quizz-navbar-left,
.quizz-navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin: 0 30px 0 30px;
}

.quizz-navbar-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%
}

.qtn-navigation-btn {
  border: 1px solid #2196f3;
  border-radius: 5px;
  margin: 10px;
}

.question-item {
  display: flex;
  border: 1px solid #2196f3;
  border-radius: 5px;
  margin: 5px;
}

.qi-middle-row {
  display: flex;
  justify-content:center;
  align-items: center;
  width: 620px;
}

.quizz-item {
  margin: 10px;
}

.qtn-edit {
  display: flex;
  justify-content:center;
  align-items: center;
  
}
.qtn-edit {
  border: 1px solid #2196f3;
}
.quizz-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.qtn-solution {
  max-width: 50px;
  margin: 20px;
}

.qtn-scratch-pad {
  margin: 20px 2px 30px 2px;
}

.qtn-navigation-btn {
  margin: 82px 5px 40px 5px;
}
.answer-item {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#quizz-btn {
  width: 120px;
}

#outlined-multiline-static {
  width: 550px;
}