.course-detail-box{
    margin: 10px 20%;
    text-align: start;
}

.course-overview{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.course-overview-text{
    margin-right: 10px;
}
.course-overview-text h2{
    text-align: center;
}

.course-overview-text p{
    font-size: 20px;
}

.course-overview-img{
    margin-top: 10px;
}

.course-overview-img img{
    border-radius: 10px;
}
.price-box{
    background-color: orange;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 5px 0;

}

