.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Button{
  background-color: rgb(191, 64, 33);
  color: rgb(45, 114, 18);
}

body{
  min-height: 100vh;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(255,242,220);
  background: linear-gradient(0deg, rgba(255,242,220,1) 0%, rgba(255,208,147,1) 100%);
}

button{
  font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
  margin: 12px auto;
  padding: 12px 24px;
}

button:hover{
  background-color: rgb(32, 198, 62);
  cursor:pointer;
}
table{
  margin: 4px;
  padding: 6px 12px;
  background-color: rgb(91, 133, 145);
  border-radius: 8px;
  box-shadow: 4px 8px 2px rbga(0,0,0,.2);
}
td{
  padding: 6px 12px;
}

nav{
  padding: 12px;
  background-color: #efefd0;  
}
/* selects <Link> in React */
a{
  text-decoration: none;
  color:#351c0c;
  background-color: #ffbb8d;
  box-shadow: 0 8px 12px rbga(0,0,0,.2);

  padding: 6px 12px;
  margin: 4px;

  border-radius: 4px;
  border-width: 2px;
  border-color:black;
}
a:hover{
  background-color: #fbb02d;
}
