.student-home-box{
    display: flex;
    justify-content: center;
}

.student-home-inner-box{
    margin: 40px;
    border: 1px solid #494b5739;
    box-shadow: 5px 5px 5px 5px #494b5720;
    background-color: white;
    width: 80%;
}